.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: '#F3ECFE';
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .loading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }