.filter-menu-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.filter-menu-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    border: 1px solid #504f7d;
    background-color: #7675A9;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.filter-menu-item-button:hover {
    background-color: #504f7d;
    border: 1px solid #7675A9;
    cursor: pointer;
}