.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    background-color: #708AFF;
    padding: 2rem;
    z-index: 1;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}
.close-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    height: 88%;
}
.button-cart {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #212121;
    padding: 1.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #708AFF;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.button-cart:hover {
    background-color: rgba(0, 0, 0, 0.7)
}